<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../src/assets/styles/setup.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <section class="dimmer">
        <div class="pop-up">
          <section class="players-setup">
            <div class="player-box"></div>
            <span class="player-name"></span>
          </section>
          <h1>Game set up!</h1>
          <label for="gameName">Select a session name:</label>
          <input type="text" id="gameName" name="gameName" />
          <label for="hostName">Select your name:</label>
          <input type="text" id="gameName" name="gameName" />
        </div>
      </section>

      <p>
        lkfjsdlfs dkdsflajsfds fksasflsdjfkdflajkfljslkf lkfjsdlfs dkdsflajsfds
        fksasflsdjfkdflajkfljslkf lkfjsdlfs dkdsflajsfds
        fksasflsdjfkdflajkfljslkf lkfjsdlfs dkdsflajsfds
        fksasflsdjfkdflajkfljslkf
      </p>
    </div>
  </body>
</html>
